
<!-- Format override needed for this page -->  
<link rel="stylesheet" href="~/css/override-about-contact.css">

    <!-- ==============================================
    ABOUT
    =============================================== -->

    <section id="about" class="bg-aqua light-typo padding-top-bottom">
        <div class="container">
            <header class="section-header text-center">
                <br /><br />
                <h1 class="scrollimation scale-in">About Me</h1>
            </header>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @*<img class="img-responsive img-left img-circle scrollimation fade-left" src="~/assets/about.jpg" alt="" />*@
                    <p class="text-center scrollimation fade-in">I am an ASP.Net Software Engineer with a diverse background in business analysis, risk management, and analytics. After 15+ successful years in mortgage finance, I decided to pivot my career and pursue a long-term goal: web application development. Over the years, I was fortunate to work with various development teams to design new technology and drive innovation. The experiences fueled my passion for coding and desire to learn application development.  </p>
                    <p class="text-center scrollimation fade-in">Prior to my career change, I held several leadership and analytical positions within the mortgage banking and mortgage insurance industries. My breadth of experience includes pricing, secondary marketing, capital markets, risk management, statistical modeling, loss mitigation, quality assurance, underwriting and originations.
                    </p>
                    <p class="text-center scrollimation fade-in">I also enjoy trading equities and options using technical analysis. When I am not researching companies and technical patterns, I spend my time volunteering with Bingo Pet Hospice and supporting other animal welfare organizations.</p><br />
                </div>
            </div>
            @*<div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive img-left img-circle scrollimation fade-left" src="~/assets/tbennett_li_profile.jpg" alt="" style="width: 310px; height: 310px"/>            
                </div>
                <div class="col-sm-8">
                    <br /><br />
                    <p class="text-center scrollimation fade-in">Cras convallis nunc vitae massa convallis fermentum. Fusce feugiat, sem at congue rutrum, nisl mauris facilisis tellus, vel interdum nulla enim at purus. Integer metus justo, pellentesque ac bibendum a, dapibus sed nisl. Donec vitae suscipit lacus. Vivamus lacinia nisi eget erat luctus, id mollis nunc molestie. </p>
                    <p class="text-center scrollimation fade-in">I am a .Net Application Developer and Mortgage Banking Professional with a background in pricing, risk management, and data analytics. Over the years, I was fortunate to work on several technology integration projects and enjoyed collaborating with various development teams. The experiences fueled my passion for coding and desire to learn application development.  </p>
                    <p class="text-center scrollimation fade-in">I also enjoy trading equities and options using a combination of technical and 'rational' analysis. When I am not researching companies and technical patterns, I spend my time volunteering with Bingo Pet Hospice and supporting other animal welfare organizations.</p><br />
                </div>
            </div>*@
        @*<p class="text-center"><a class="btn btn-meflat scrollto white icon-left" href="#contact"><i class="fa fa-arrow-down"></i>Hire Me</a></p>*@
        </div>
    </section>
    