

    <!-- ==============================================
    HEADER
    =============================================== -->
    <header id="home" class="jumbotron bg-image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-col text-center">
                    <h1 id="myIntro" style="font-size: 18px">Hi, I am</h1>
                    <h1>Tim Bennett</h1>
                    <p id="myTitle">Full-Stack Software Engineer</p><br />
                    @*<h4 class="stackFadeIn" style="display: none">Stack Matters...</h4>*@
                    <div class="bsCarousel">
                        <div id="scrollCarousel" class="carousel slide stackFadeIn" data-ride="carousel" data-interval="4500" style="display: none">

                            <!-- Wrapper for carousel items -->
                            <div class="carousel-inner">
                                <div class="item active">Stack Matters...</div>
                                <div class="item">ASP.Net - C# - MVC - LINQ</div>
                                <div class="item">HTML - CSS - Bootstrap</div>
                                <div class="item">JavaScript - jQuery - AJAX - AngularJS</div>
                                <div class="item">SQL - SSRS - SSDT</div>
                                <div class="item">Cognos - SAS - Tableau</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

@section scripts{
    <script>
        $(function () {
            $('.stackFadeIn').delay(1500).fadeIn(1000);

        });
    </script>
}