<!-- Format Override Needed -->
<link rel="stylesheet" href="~/css/overrideStyle.css">

<!-- ==============================================
PORTFOLIO
=============================================== -->
<section id="portfolio" class="gray-bg padding-top-bottom">
    <div class="container">
        <br /><br />
        <header class="section-header text-center">
            <h1 class="scrollimation scale-in">My Works</h1>
          </header>
        <!--==== Portfolio Filters ====-->
        <div id="filter-works">
            <ul>
                <li class="active scrollimation fade-right d1">
                    <a href="#" data-filter="*">All</a>
                </li>
                <li class="scrollimation fade-left">
                    <a href="#" data-filter=".mvc">MVC</a>
                </li>
                <li class="scrollimation fade-left d1">
                    <a href="#" data-filter=".angular">AngularJS</a>
                </li>
                <li class="scrollimation fade-right">
                    <a href="#" data-filter=".javascript">JavaScript</a>
                </li>
                <li class="scrollimation fade-left d1">
                    <a href="#" data-filter=".earlyProjects">
                        First Projects
                    </a>
                </li>
            </ul>
        </div><!--End portfolio filters -->
    </div><!--End portfolio header -->

    <div class="container masonry-wrapper scrollimation fade-in">
        <div id="projects-container">
            <!-- ==============================================
    SINGLE PROJECT ITEM
    =============================================== -->
            <!-- ==============================================
    END PROJECT ITEM
    =============================================== -->
            <a href="https://tbennett-carfinder.azurewebsites.net/" target="_blank">
                <article class="project-item angular javascript">
                    <img class="img-responsive project-image" src="~/assets/carFinder.jpg" alt=""><!--Project thumb -->
                    <div class="hover-mask">
                        <h2 class="project-title">Car Finder</h2><!--Project Title -->
                        <p>Car recall app using Angular JS, API's & stored procedures </p><!--Project Subtitle -->
                    </div>
                </article>
            </a>
            <a href="https://tbennett-bug-tracker.azurewebsites.net/" target="_blank">
                <article class="project-item mvc">
                    <img class="img-responsive project-image" src="~/assets/bugtrackerResize.jpg" alt=""><!--Project thumb -->
                    <div class="hover-mask">
                        <h2 class="project-title">Bug Tracker</h2><!--Project Title -->
                        <p>CREATED USING C#, MVC, & ENTITY FRAMEWORK CODE FIRST</p><!--Project Subtitle -->
                    </div>
                </article><!--End Project Item -->
            </a>
            <a href="@Url.Action("JSExercises","Home")">
                <article class="project-item javascript">
                    <img class="img-responsive " src="~/assets/jsBadgeResize.png" alt=""><!--Project thumb -->
                    <div class="hover-mask">
                        <h2 class="project-title">JavaScript & jQuery</h2>
                        <!--Project Title -->
                        <p>Training exercises includng Fizz Buzz, Factorial & Palindrome.</p><!--Project Subtitle -->
                    </div>
                    <!--==== Project Preview HTML ====-->
                </article>
            </a>
            <a href="https://tbennett-budget-app.azurewebsites.net/" target="_blank">
                <article class="project-item mvc">
                    <img class="img-responsive project-image" src="~/assets/financialResize.jpg" alt=""><!--Project thumb -->
                    <div class="hover-mask">
                        <h2 class="project-title">Household Budgeter</h2><!--Project Title -->
                        <p>Created using C#, MVC, Entity Framework, AJAX, & jQuery.</p><!--Project Subtitle -->
                    </div>
                </article>
            </a>
            <a href="@Url.Action("Index","BlogPosts")">
                <article class="project-item mvc">
                    <img class="img-responsive project-image" src="~/assets/blogResize.jpg" alt=""><!--Project thumb -->
                    <div class="hover-mask">
                        <h2 class="project-title">Personal Blog</h2><!--Project Title -->
                        <p>My Coding Quest - </p><!--Project Subtitle -->
                        <p>Created using MVC &</p>
                        <p>Entity Framework</p>
                    </div>
                </article><!--End Project Item -->
            </a>
                <a href="https://tcbennett01.github.io/First-Website/" target="_blank">
                    <article class="project-item earlyProjects javascript">
                        <img class="img-responsive project-image" src="~/assets/firstSite.jpg" alt="" style="width: 320px; height: 210px"><!--Project thumb -->
                        <div class="hover-mask">
                            <h2 class="project-title">First Website</h2><!--Project Title -->
                            <p>Learning HTML, CSS, JavaScript & Bootstrap</p><!--Project Subtitle -->
                        </div>
                        <!--==== Project Preview HTML ====-->
                    </article><!--End Project Item -->
                </a>
                <a href="https://tcbennett01.github.io/hot-or-cold/" target="_blank">
                    <article class="project-item earlyProjects javascript">
                        <img class="img-responsive project-image" src="~/assets/hotCold.jpg" alt="" style="width: 320px; height: 210px"><!--Project thumb -->
                        <div class="hover-mask">
                            <h2 class="project-title">Guess The Number Challenge</h2><!--Project Title -->
                            <p>HTML, CSS, & JavaScript</p>
                            <!--Project Subtitle -->
                        </div>
                        <!--==== Project Preview HTML ====-->
                    </article><!--End Project Item -->
                </a>
                <a href="https://tcbennett01.github.io/karma_landing_page_clone/" target="_blank">
                    <article class="project-item earlyProjects">
                        <img class="img-responsive project-image" src="~/assets/karmaLandingPage.jpg" alt="" style="width: 320px; height: 210px"><!--Project thumb -->
                        <div class="hover-mask">
                            <h2 class="project-title">Karma Landing Page</h2><!--Project Title -->
                            <p>First Project: recreate landing page using HTML & CSS</p>
                            <!--Project Subtitle -->
                        </div>
                        <!--==== Project Preview HTML ====-->
                    </article><!--End Project Item -->
                </a>
</div><!-- End projects -->
    </div><!-- End container -->
    <!-- ==============================================
    PROJECT PREVIEW MODAL (Do not alter this markup)
    =============================================== -->
    @*<div id="project-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h1 id="hdr-title" class="text-center"></h1>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="image-wrapper">
                                    <img class="img-responsive" src="~/assets/chrome.png" alt="">
                                    <div class="loader"></div>
                                    <div class="screen"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div id="project-sidebar" class="col-md-3">
                                <h2 id="sdbr-title"></h2>
                                <p id="sdbr-category"></p>
                                <p id="sdbr-date"></p>
                                <p id="sdbr-client"></p>
                                <p id="sdbr-link"><a href="#link" target="_blank"></a></p>
                                <p id="sdbr-descr"></p>
                            </div>
                            <div id="project-content" class="col-md-8 col-md-offset-1">
                            </div>
                        </div>
                    </div>
                </div><!-- End modal-body -->
            </div><!-- End modal-content -->
        </div><!-- End modal-dialog -->
    </div>*@<!-- End modal -->
</section>


