
<!-- Format overrided needed-->
<link rel="stylesheet" href="~/css/overrideStyle.css">

<section id="services" class="padding-top-bottom">
    <div class="container">
        <br /><br />
        <header class="section-header text-center">
            <h1 class="scrollimation scale-in">What I Do</h1>
        </header>
        <div class="row services">
            <div class="col-md-3 col-sm-6 item scrollimation fade-up">
                <div class="icon">
                    <img class="img-responsive img-center" src="~/assets/service1.png" alt="" />
                </div>
                <h2>Web Development</h2>
                <ul class="text-left">
                    <li>ASP.Net, C#, MVC, LINQ</li>
                    <li>HTML, CSS, Bootstrap</li>
                    <li>JS, jQuery, AJAX, AngularJS</li>
                    <li>SQL - SSRS - PowerShell</li>
                    <li>Agile/Scrum, VSTS, Git</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 item scrollimation fade-up d1">
                <div class="icon">
                    <img class="img-responsive img-center" src="~/assets/analysis.jpg" alt="" />
                </div>
                <h2>Analytics</h2>
                <ul class="text-left">
                    <li>Pricing/Secondary Marketing</li>
                    <li>Audit/Quality Assurance</li>
                    <li>Lending/Credit Analysis</li>
                    <li>Process Improvement</li>
                    <li>Reporting, KPI</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 item scrollimation fade-up d3">
                <div class="icon">
                    <img class="img-responsive img-center" src="~/assets/risk.jpg" alt="" />
                </div>
                <h2>Risk Management</h2>
                <ul class="text-left">
                    <li>Portfolio Management</li>
                    <li>Lender Benchmarking</li>
                    <li>Loss Mitigation</li>
                    <li>Modeling, Underwriting</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 item scrollimation fade-up d2">
                <div class="icon">
                    <img class="img-responsive img-center" src="~/assets/leadership.jpg" alt="" />
                </div>
                <h2>Leadership</h2>
                    <ul class="text-left">
                        <li>Coaching & Development</li>
                        <li>Performance Management</li>
                        <li>Strategic Planning</li>
                        <li>Mentoring &amp Directing Teams</li>
                        <li>Cross-Functional Leadership</li>
                    </ul>
            </div>
        </div>
        <p class="text-center"><a class="btn btn-meflat icon-left" href="~/assets/Resume-TBennett-2018-Update.pdf" target="_blank">PDF Resume</a></p>
    </div>
</section>

